@import java.time.format.DateTimeFormatter
@()(implicit shs: SHS, dynamicForm: DynamicForm, request: Http.Request)
<div class="metricsBackground">
    <div id="simDate">@shs.getCurrentTime.format(DateTimeFormatter.ofPattern("ccc MMM dd, yyyy"))</div>
    <div id="simTime">@shs.getCurrentTime.format(DateTimeFormatter.ofPattern("HH:mm:ss"))</div>
    <div id="simExtTemp" class="metricsTemperature">
        <div>@SHS.getOutside.getTemperatureString °C</div>
        <div>ext</div>
    </div>
    <div id="simIntTemp" class="metricsTemperature">
        <div>@shs.getActiveUser.getLocation.getTemperatureString °C</div>
        <div>user location</div>
    </div>
</div>
