@import java.time.format.DateTimeFormatter
@import models.modules.SHS
@()(implicit shs: SHS)
<div class="metricsBackground">
    <div id="simDate">@shs.getSimulationTime.format(DateTimeFormatter.ofPattern("ccc MMM dd, yyyy"))</div>
    <div id="simTime">@shs.getSimulationTime.format(DateTimeFormatter.ofPattern("HH:mm:ss"))</div>
    <div id="simExtTemp" class="metricsTemperature">
        <div>@SHS.getOutside.getTemperatureString °C</div>
        <div>Outside</div>
    </div>
	@if(shs.getActiveUser.getLocation != SHS.getOutside) {
		<div id="simIntTemp" class="metricsTemperature">
			<div>@shs.getActiveUser.getLocation.getTemperatureString °C</div>
			<div>@shs.getActiveUser.getLocation.getName</div>
		</div>
	}
</div>
