@(home: java.util.Map[String, models.Location])

<style>
  .layout {
    height: calc(100% - 12px);
    width: 100%;
    border-radius: 12px;
    background-color: #eff5ff;
    padding: 20px;
    position: relative;
  }

  .metricsOverlay {
    position: absolute;
    bottom: 20px;
  }
</style>

@layouts.main {
  <div class="layout">
	  @if(home.size > 1) {
		  House layout was loaded!
	  } else {
		  House Layout is missing!
	  }
    <div class="metricsOverlay">
      @constantMetrics()
    </div>
  </div>
}
