@import views.html.helper.CSRF
@import models.modules.SHS
@()(implicit shs: SHS, dynamicForm: DynamicForm, request: Http.Request)

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("libraries/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css")">
<script src="@routes.Assets.versioned("libraries/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

<script>

    // Date Picker
    $(function() {
      $('#datepicker').datetimepicker({
        pickTime: false
      });
    });
    // Time Picker
    $(function() {
      $('#timepicker').datetimepicker({
        pickDate: false
      });
    });

    function updateTemp(e) {
        if (e.id == "internalTemp") {
            console.log("Update internal temperature to: " + document.getElementById(e.id).value);
        } else {
            console.log("Update external temperature to: " + document.getElementById(e.id).value);
        }
    }
    $(function (){
    	$("#externalTemp").inputmask("9{1,4}.9{2}")
    });
</script>


<form name="parameters" id="parameters" method="post" action='@routes.HomeController.editSimulationParameters("parameters")'>
	<fieldset hidden>@CSRF.formField</fieldset>

	<div class="textTitle">Simulation Time Multiplier</div>
	<div class="formGroupBackground inputBackground">
		<div class="input-group">
			<input name="timeMultiplier" id="timeMultiplier" class="form-control add-on bg-white" type="number" aria-describedby="timeMultiplierLabel" value='@shs.getTimeMultiplier' min="1"/>
			<div class="input-group-append">
				<span class="input-group-text" id="timeMultiplierLabel"><i class="fas fa-tachometer-alt"></i></span>
			</div>
		</div>
	</div>
	@if(!shs.isRunning) {
		<div class="textTitle">Date and Time</div>
		<div class="formGroupBackground inputBackground">
			<div id="datepicker" class="input-group mb-3">
				<input name="date" id="simulatorDate" class="form-control add-on bg-white" placeholder="dd/mm/yyyy" data-format="dd/mm/yyyy" type="text" aria-describedby="dateLabel" value='@shs.getDateString' readonly/>
				<div class="input-group-append">
					<span data-time-icon="icon-time" data-date-icon="icon-calendar" class="input-group-text" id="dateLabel">
						📅
					</span>
				</div>
			</div>
			<div id="timepicker" class="input-group">
				<input name="time" id="simulatorTime" class="form-control add-on bg-white" placeholder="hh:mm:ss" data-format="hh:mm:ss" type="text" aria-describedby="timeLabel" value='@shs.getTimeString' readonly/>
				<div class="input-group-append">
					<span data-time-icon="icon-time" data-date-icon="icon-calendar" class="input-group-text" id="timeLabel">
						🕑
					</span>
				</div>
			</div>
		</div>
	}
    <div class="textTitle">Temperature</div>
    <div class="formGroupBackground inputBackground">
        <div class="input-group temperatureParam">
            External:
            <input name="temperature" id="externalTemp" type="text" class="form-control" aria-label="External Temperature" aria-describedby="temperatureLabel" style="margin: 0 0 0 18px;" value='@SHS.getOutside.getTemperature.getTemperatureString'>
            <div class="input-group-append">
                <span class="input-group-text" id="temperatureLabel">°C</span>
            </div>
        </div>
    </div>

	<div class="textTitle">Seasons Periods</div>
	<div class="formGroupBackground inputBackground paramSeasonTitle">
        Summer:
		<div class="input-group">
			<div class="paramSeasonContainer">
				<div class="paramSeasonMonth">
					<div>start:</div>
					<select name="type" class="form-control-sm paramSeasonPeriod" id="startSummerSeason">
						<option value=1>January</option>
						<option value=2>February</option>
						<option value=3>March</option>
						<option value=4>April</option>
						<option value=5>May</option>
						<option value=6 selected>June</option>
						<option value=7>July</option>
						<option value=8>August</option>
						<option value=9>September</option>
						<option value=10>October</option>
						<option value=11>November</option>
						<option value=12>December</option>
					</select>
				</div>

				<div class="paramSeasonMonth">
					<div>end:</div>
					<select name="type" class="form-control-sm paramSeasonPeriod" id="endSummerSeason">
						<option value=1>January</option>
						<option value=2>February</option>
						<option value=3>March</option>
						<option value=4>April</option>
						<option value=5>May</option>
						<option value=6>June</option>
						<option value=7>July</option>
						<option value=8 selected>August</option>
						<option value=9>September</option>
						<option value=10>October</option>
						<option value=11>November</option>
						<option value=12>December</option>
					</select>
				</div>
			</div>
		</div>

		Winter:
		<div class="input-group">
			<div class="form-inline paramSeasonContainer">
				<div class="paramSeasonMonth">
					<div>start:</div>
					<select name="type" class="form-control-sm paramSeasonPeriod" id="startWinterSeason">
						<option value=1>January</option>
						<option value=2>February</option>
						<option value=3>March</option>
						<option value=4>April</option>
						<option value=5>May</option>
						<option value=6>June</option>
						<option value=7>July</option>
						<option value=8>August</option>
						<option value=9>September</option>
						<option value=10>October</option>
						<option value=11>November</option>
						<option value=12 selected>December</option>
					</select>
				</div>

				<div class="paramSeasonMonth">
					<div>end:</div>
					<select name="type" class="form-control-sm paramSeasonPeriod" id="endWinterSeason">
						<option value=1>January</option>
						<option value=2>February</option>
						<option value=3 selected>March</option>
						<option value=4>April</option>
						<option value=5>May</option>
						<option value=6>June</option>
						<option value=7>July</option>
						<option value=8>August</option>
						<option value=9>September</option>
						<option value=10>October</option>
						<option value=11>November</option>
						<option value=12>December</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
