@()

<script>
    function triggerSidebarSelection(e) {
        let elements = document.getElementsByClassName("bi");
        for (let i = 0; i < elements.length; i++) {
            if (e.id === elements[i].id) {
                e.isSelected = !e.isSelected;
                if (e.isSelected) {
                    e.style.fill = '#fff';
                    document.getElementById("sidebar").classList.add("expanded");
                    document.getElementById("expandedSettings").classList.add("settings");
                    document.getElementById(e.id.substr(4).toLowerCase() + "Settings").style.display = "block";
                } else {
                    e.style.fill = "#849FFF";
                    document.getElementById("sidebar").classList.remove("expanded");
                    document.getElementById("expandedSettings").classList.remove("settings");
                    document.getElementById(e.id.substr(4).toLowerCase() + "Settings").style.display = "none";
                }
            } else {
                document.getElementById(elements[i].id).style.fill = '#849FFF';
                elements[i].isSelected = false;
                document.getElementById(elements[i].id.substr(4).toLowerCase() + "Settings").style.display = "none";
            }
        }
    }

    // TOOLTIP
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

<style>
    .sidebar {
        height: 100%;
        padding: 10px;
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        background: #3253F1;
        color: #fff;
        transition: 250ms;
    }
    .sidebar > svg, .sidebar > div {
        margin-bottom: 15px;
        cursor: pointer;
        transition: 200ms;
    }
    .sidebar > svg:hover,
    .sidebar > div:hover {
        fill: white;
        color: white;
    }
    .sidebar > div {
        letter-spacing: 0.1em;
        font-weight: 600;
        color: #849FFF;
    }
    .sidebar > div:nth-of-type(1) {
        height: 2px;
        background-color: #849FFF;
        width: 50px;
        margin: 17px 0px;
        cursor: default;
    }
    .expanded {
        border-radius: 12px 0 0 12px;
        box-shadow: 0 0 15px rgba(50,83,241,0.2);
    }

    .settings {
        background: white;
        border-radius: 0 12px 12px 0;
        height: 100%;
        width: calc(100% - 70px);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 250ms;
        box-shadow: 0 0 15px rgba(50,83,241,0.2);
    }
</style>

<div class="row" style="height: 100%">
    <div class="sidebar" id="sidebar">
        <svg onclick="triggerSidebarSelection(this)" id="iconPlay" width="2em" height="2em" isSelected=false
            viewBox="0 0 16 16"class="bi bi-play-fill" fill="#849FFF" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
        <svg onclick="triggerSidebarSelection(this)" id="iconUser" width="2em" height="2em"  data-toggle="tooltip" data-placement="right" title="Manage Users" isSelected=false
            viewBox="0 0 16 16" class="bi bi-person" fill="#849FFF" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
        <svg onclick="triggerSidebarSelection(this)" id="iconHouse" width="2em" height="2em" data-toggle="tooltip" data-placement="right" title="House Layout" isSelected=false
            viewBox="0 0 16 16" class="bi bi-house" fill="#849FFF" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        <svg  onclick="triggerSidebarSelection(this)" id="iconDevice" width="2em" height="2em" data-toggle="tooltip" data-placement="right" title="Control Devices" isSelected=false
            viewBox="0 0 16 16" class="bi bi-gear-wide-connected" fill="#849FFF" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"/>
            <path fill-rule="evenodd" d="M7.375 8L4.602 4.302l.8-.6L8.25 7.5h4.748v1H8.25L5.4 12.298l-.8-.6L7.376 8z"/>
        </svg>
        <svg onclick="triggerSidebarSelection(this)" id="iconParam" width="2em" height="2em" data-toggle="tooltip" data-placement="right" title="Parameters" isSelected=false
            viewBox="0 0 16 16" class="bi bi-sliders" fill="#849FFF" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
        </svg>

        <div class="separator"></div>
        <div>SHC</div>
        <div>SHP</div>
        <div>SHH</div>
    </div>
    <div id="expandedSettings">
        <div id="playSettings"style="display: none">
        </div>
        <div id="userSettings"style="display: none">
            @userSidebar()
        </div>
        <div id="houseSettings"style="display: none">
            @houseLayout()
        </div>
        <div id="deviceSettings"style="display: none">
            @deviceSidebar()
        </div>
        <div id="paramSettings"style="display: none">
            @parameters()
        </div>
    </div>
</div>
