@import views.html.helper.CSRF
@import models.modules.SHS
@(activeUser: User)(implicit shs: SHS, dynamicForm: DynamicForm, request: Http.Request)

<div class="userSidebar">
	<div class="textTitle">current user</div>
	@singleUser(activeUser)
		<div class="userSeparator"></div>
	<div class="textTitle">other users</div>
	@for(entry: (String, User) <- shs.getUserMap) {
		@if(!entry._1.equals(activeUser.getName)) {
			@singleUser(entry._2)
		}
	}

    @* load existing users here *@
    <div id="tempUser" class="tempUser hidden" style="transition: 250ms">
        singleUser()
    </div>
    <div class="addUserButton" data-toggle="modal" data-target="#staticBackdrop">
        <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="#3253F1" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
    </div>
</div>

	<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Add new user</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="form-group" id='newUserForm' style='margin-top: 15px' method="post" action='@routes.HomeController.createUser("user")'>
			<div class="modal-body">
					<fieldset hidden>@CSRF.formField</fieldset>
					<div class="userTitle form-inline">
						<div>name:</div>
						<input name="name" type="text" class="form-control form-control-sm" id='newUserNameInput' placeholder="user name" value='@dynamicForm.get("name")'>
					</div>
					<div class="userTitle form-inline">
						<div>type:</div>
						<select name="type" class="form-control-sm" id="newUserTypeInput">
							<option value='@User.UserType.Parent'>Parent</option>
							<option value='@User.UserType.Child_Adult'>Child - Adult</option>
							<option value='@User.UserType.Child_Teenager'>Child - Teenager</option>
							<option value='@User.UserType.Child_Underage'>Child - Underage</option>
							<option value='@User.UserType.Guest'>Guest</option>
							<option value='@User.UserType.Stranger' selected>Stranger</option>
						</select>
					</div>
					<div class='userTitle form-inline'>
						<div>location:</div>
						<select name="location" class='form-control-sm' id="newUserLocationInput">
						@for(entry: (String, Location) <- shs.getHome) {
							<option value='@entry._1'>@entry._1</option>
						}
						</select>
					</div>
					<button id="newUserSubmitInfo" class="btn btn-primary btn-sm hidden" style="float: right; margin-top: 10px;">submit</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			</form>
		</div>
	</div>
</div>
